<div class="row flexBox">
    <div class="col-8">
        <div class="row">
            <div class="col-6">
                <h6 class="wallet">Cartera</h6>
                <span [textContent]="this.cardData.wallet | currency" class="currAmountSpan"></span>
            </div>
            <div class="col-6">
                <h6 class="wallet">Apuesta Actual</h6>
                <span *ngIf="this.cardData.gameActive" 
                    [textContent]="this.cardData.bet | currency" class="currAmountSpan"></span>
                <input style="margin-top: 0.4rem" nz-input class="currAmountInput" *ngIf="!this.cardData.gameActive" id="currrentBet" 
                    #currentBet (input)="validateInput($event)" type="number" pattern="[0-9]*" inputmode="numeric" min="1" max="this.cardData.wallet" [(ngModel)]="this.cardData.bet"/>
            </div>
        </div>
        
    </div>
    
    <div class="col-4">
        <button [disabled]="this.cardData.gameActive" (click)="this.placeBet()" 
            nz-button nzGhost nzType="default">Apostar!</button>
    </div>
</div>